.note_box_element
{
    display:flex;
    align-items: center;
    margin: 10px 5px;
    .checkbox
    {
        margin-right: 20px;
        
    }
    
    .chcekboxChecked
    {
       opacity: 0.5;
       font-size: 0.9em;
    }

    p 
    {
        cursor: pointer;
        margin: 0;
        text-align: center;
        font-size: 1.1em;
        transition-property: font-size , opacity;
        transition-duration: 0.3s, 0.7s;
    }
}