:host
{
     .box-note-opartaion
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   

    form *
    {
        margin: 0 1vh;
        
    }

}


